<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"/>
        <!-- LIBRERY -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Club</title>
        <!-- Bootstraps 5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/club.css">
        <!-- JS -->
        <script src="../js/index.js"></script>
    </head>

    <body>
        <!-- Header -->
        <div class="container-header">
            <header class="header">
                <nav class="nav">
                    <box-icon name='menu' color='#ffffff' id="nabvar" class="open"></box-icon>
                    <img src="../img/Fortnite.svg" alt="logo">
                    <ul class="ul">                       
                        <li class="li"><a href="#">Descubrir</a></li>
                        <li class="li"><a href="#">Mi biblioteca</a></li>
                        <li class="li"><a href="#">Crear</a></li>
                        <li class="li"><a href="#">Tienda de objetos</a></li>
                        <li class="li"><a href="#">Pase De Batalla</a></li>
                        <li class="li"><a href="#">Noticias</a></li>
                    </ul>
                        <box-icon name='globe' color='#ffffff' ></box-icon>
                    <div class="buttons">
                        <a class="gray" href="#">Iniciar Sesión</a>
                        <a class="yellow" href="#">Descargar</a>
                    </div>
                </nav>
            </header>
            <!-- Container - Club -->
            <div class="container-club">
                <div class="container-description">
                    <div class="description-club">
                        <figure>
                            <img src="../img/club.png" alt="club">
                        </figure>
                        <span>La oferta de Fortnite definitiva</span>
                        <div class="parrafo">
                            <p>
                                La mejor forma de maximizar tu experiencia en Fortnite. Quienes pertenezcan al Club de Fortnite obtendrán lo siguiente por solo COP 41,350.00 al mes.
                            </p>
                        </div>
                        <a href="#">Unirse ahora</a>
                    </div>
                </div>
                <div class="img-club">
                    <figure>
                        <img src="../img/img-club.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="container-modal" id="modal">
            <div class="container-nav">
                <div class="header-nav">
                    <box-icon name='menu' color='#ffffff' id="nabvar" class="closet"></box-icon>
                    <figure>
                        <img src="../img/Fortnite.svg" alt="logo">
                    </figure>
                </div>
                <!-- Content -->
                <div class="container-items">
                    <li><a href="#">Descubrir</a></li>
                    <li><a href="#">Mi biblioteca</a></li>
                    <li><a href="#">Crear</a></li>
                    <li><a href="#">Tienda de objetos</a></li>
                    <li><a href="#">Pase De Batalla</a></li>
                    <li><a href="#">Club</a></li>
                </div>
                <div class="networ">
                    <box-icon name='facebook-square' type='logo' color='#cccccc' ></box-icon>
                    <box-icon name='twitter' type='logo' color='#cccccc' ></box-icon>
                    <box-icon name='youtube' type='logo' color='#cccccc' ></box-icon>
                    <box-icon name='instagram-alt' type='logo' color='#cccccc' ></box-icon>
                </div>
            </div>
        </div>
        <!-- Statistics -->
        <div class="container-benefit">
            <div class="benefit">
                <div class="title-benefit">
                    <h1>Beneficios del club de fortnite</h1>
                </div>
                <div class="cards-benefit">
                    <div class="card">
                        <figure>
                            <img src="../img/benefit-1.jpg" alt="img-club">
                        </figure>
                        <div class="name-card">
                            <p>Paquete de club</p>
                        </div>
                    </div>
                    <div class="card">
                        <figure>
                            <img src="../img/benefit-2.jpg" alt="img-club">
                        </figure>
                        <div class="name-card">
                            <p>Paquete de club</p>
                        </div>
                    </div>
                    <div class="card">
                        <figure>
                            <img src="../img/benefit-3.jpg" alt="img-club">
                        </figure>
                        <div class="name-card">
                            <p>Paquete de club</p>
                        </div>
                    </div>
                    <div class="card">
                        <figure>
                            <img src="../img/benefit-4.jpg" alt="img-club">
                        </figure>
                        <div class="name-card">
                            <p>Paquete de club</p>
                        </div>
                    </div>
                    <div class="card">
                        <figure>
                            <img src="../img/benefit-5.jpg" alt="img-club">
                        </figure>
                        <div class="name-card">
                            <p>Paquete de club</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container - Club -->
        <div class="container-paquetes">
            <div class="container-paquete">
                <div class="image-paquete">
                    <figure>
                        <img src="../img/paquete-1.jpg" alt="paquete-1">
                    </figure>
                </div>
                <div class="container-description-paquete">
                    <div class="description-paquete">
                        <h1>Recibe un nuevo paquete de club cada mes</h1>
                        <p>
                            El paquete de club es un lote exclusivo del Club de Fortnite que te puedes quedar para siempre, y todos los meses seleccionamos los objetos especiales que estarán disponibles en él. Cada mes contiene un nuevo atuendo y al menos un accesorio a juego como un pico, planeador, papel o gesto. ¡El paquete de club de septiembre de 2024 incluye el atuendo Dalila, la mochila retro Bolso de peluche y el pico Destructor adorable!
                        </p>
                    </div>
                </div>
            </div>
            <!-- Container - Batalla -->
            <div class="container-paquete">
                <div class="container-batalla">
                    <div class="container-description-batalla">
                        <div class="description-batalla">
                            <h1>Accede al instante al pase de batalla actual de Fortnite</h1>
                            <p>
                                ¿Perteneces al Club de Fortnite? Felicidades, tienes acceso completo al pase de batalla de Fortnite y recibirás los pases de batalla futuros con tu suscripción activa. Desbloquea las recompensas del pase de batalla jugando Fortnite.
                            </p>
                        </div>
                    </div>
                    <div class="image-batalla">
                        <figure>
                            <img src="../img/paquete-2.avif" alt="paquete-1">
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Container - Pavos -->
            <div class="container-paquete">
                <div class="container-pavos">
                    <div class="image-pavos">
                        <figure>
                            <img src="../img/paquete-3.avif" alt="paquete-1">
                        </figure>
                    </div>
                    <div class="container-description-pavos">
                        <div class="description-pavos">
                            <h1>Consigue 1000 monedas V cada mes</h1>
                            <p>
                                Cada mes recibirás 1000 monedas V que puedes usar para obtener atuendos, gestos y mucho más en la tienda de objetos. ¡Y con el pase de batalla incluido en el Club de Fortnite, podrás desbloquear incluso más monedas V al jugar Fortnite!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container - Premium -->
        <div class="container-premium">
            <div class="premium">
                <div class="container-description-premium">
                    <div class="description-premium">
                        <h1>
                            Beneficio adicional incluido: Rocket Pass Premium en Rocket League
                        </h1>
                        <p>
                            El Club de Fortnite incluye un beneficio adicional: ¡el Rocket Pass Premium en Rocket League! (Asegúrate de usar la misma cuenta de Epic en Fortnite y Rocket League). Consigue el Rocket Pass Premium de la temporada actual de Rocket League y de temporadas futuras mientras tengas una suscripción activa. Rocket Pass Premium es una mejora que permite conseguir recompensas adicionales de Rocket League para el juego con el "Rocket Pass".
                        </p>
                    </div>
                </div>
                <div class="image-premium">
                    <figure>
                        <img src="../img/paquete-4.avif" alt="">
                    </figure>
                </div>
            </div>
        </div>
        <!-- Container - Premium -->
        <div class="container-estilos">
            <div class="estilo">
                <div class="image-estilo">
                    <figure>
                        <img src="../img/paquete-5.avif" alt="">
                    </figure>
                </div>
                <div class="container-description-estilo">
                    <div class="description-estilo">
                        <h1>
                            Beneficio adicional incluido: estilos de legado del Club de Fortnite
                        </h1>
                        <p>
                            El Club de Fortnite incluye otro beneficio adicional: ¡estilos de legado del Club de Fortnite! Desbloquea una cantidad limitada de estilos de legado para ciertos atuendos del paquete de club. ¿Cómo? Tras recibir un paquete de club válido, ¡desbloquearás un estilo de legado por cada mes que mantengas activa tu suscripción al Club de Fortnite!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <div class="container-net">
                    <div class="networks">
                        <box-icon name='facebook-square' type='logo' color='#cccccc' ></box-icon>
                        <box-icon name='twitter' type='logo' color='#cccccc' ></box-icon>
                        <box-icon name='twitch' type='logo' color='#cccccc' ></box-icon>
                        <box-icon name='youtube' type='logo' color='#cccccc' ></box-icon>
                        <box-icon name='instagram-alt' type='logo' color='#cccccc' ></box-icon>
                        <box-icon name='snapchat' type='logo' color='#cccccc' ></box-icon>
                    </div>
                    <div class="home">
                        <svg viewBox="0 0 13 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.58376 2.73002L2.37551 6.93827L1.66841 6.23116L6.7102 1.18937L7.06375 0.835814L7.41731 
                            1.18937L12.6326 6.40469L11.9255 7.11179L7.5846 2.77087L7.73721 11.7916L6.73735 11.8085L6.58376 2.73002Z"></path></svg>
                        <p>
                            Volver al principio
                        </p>
                    </div>
                </div>
                <div class="container-description-footer">
                    <div class="description-footer">
                        <div class="links">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Pase de batalla</a></li>
                            <li><a href="#">Obtener Fortnite</a></li>
                            <li><a href="#">Noticias</a></li>
                        </div>
                        <div class="links">
                            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
                            <li><a href="#">Cluf</a></li>
                            <li><a href="#">Competitivo</a></li>
                            <li><a href="#">Tarjeta de monedas V</a></li>
                            <li><a href="#">Devolver a cancelar compra</a></li>
                        </div>
                        <div class="links">
                            <li><a href="#">Ayuda</a></li>
                            <li><a href="#">Reglamento de la comunidad</a></li>
                            <li><a href="#">Directrices para socios</a></li>
                            <li><a href="#">Cosplay</a></li>
                        </div>
                    </div>
                </div>
                <div class="author">
                    <div class="description-author">
                        <p>
                            © 2024, Epic Games, Inc. Epic, Epic Games, el logo de Epic Games, Fortnite, el logo de Fortnite, Unreal, Unreal Engine 4 y UE4 son marcas comerciales o marcas registradas de Epic Games, Inc. en los Estados Unidos de América y en otros lugares. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
                <div class="container-terminos">
                    <div class="terminos">
                        <li><a href="#">Términos de servicio</a></li>
                        <li><a href="#">Poltitica de privacidad</a></li>
                        <li><a href="#">Seguridad y protección</a></li>
                    </div>
                    <div class="plays">
                        <box-icon name='play-store' type='logo' color='#cccccc' ></box-icon>
                        <box-icon name='message-dots' type='solid' color='#cccccc' ></box-icon>
                        <box-icon name='world' color='#cccccc' ></box-icon>
                        <box-icon name='apple' type='logo' color='#cccccc' ></box-icon>

                    </div>
                </div>
            </div>
            <!-- Author - Luis David Gil -->
            <div class="theluis">
                <p>Luis Gil Cabarcas</p>
            </div>
        </footer>





        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>